$blue-color : #566CD6;
$green-color : #64A309;
$purple-color: #9267AF;
$orange-color: #F49D40;
$lightblue-color: #ABC8FF;
$pink-color: #C96A77;
$brown-color: #AB6A00;
$red-color: #E50044;
$yellow-color : #F9BE00;
$gray-color: #888780;
$steel-color : #88BDA5;
$ground-color : #B9BF9C;
$bug-color : #659375;
$dragon-color : #00B8EE;
$dark-color : #3E4E57;
$white-color : rgba(242,244,255,1);
$text-color : #40415E;

@mixin flexGeral {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
}

@mixin flexJusttify($justtify) {
  display: flex;
  justify-content: $justtify;
  align-items: center;
  align-content: center;
  text-align: center;
}

@mixin flexDirection($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-align: center;
}

@mixin btnColor( $width){
  //background-color: $color;
  height: 2rem;
  width: $width;
  border-radius: 1rem;
  color: $white-color;
}

//User Pokemon
.container-user-pokemon{
  background: $blue-color;
}
.user-pokemon{
  @include flexDirection(column);
}
.logo-pokemon{
  width: auto;
  height: 3rem;
}

.user-img-pokemon{
  width: auto;
  height: 10rem;
}

.user-title-pokemon{
  color:$white-color ;
}

.user-subtitle-pokemon{
  color: $white-color;
    font-weight: 600;
    font-size: 1.2rem;
    opacity: 50%;
}

.btn-logout{
  width: 100%;
    height: 3rem;
    background-color: rgba(242,244,255,.5);
    //opacity: 50%;
    border: none;
    border-radius: .5rem;
    @include flexJusttify(center);
    margin-top: 15rem;
    margin-bottom: 1rem;
}

.img-btn-logout{
  position: absolute;
  left: 10%;
}

//Search input
.container-search{
  @include flexJusttify(flex-end);
}

.inp-search{
  width: 20rem;
  box-shadow: 3px 10px 20px rgba(86, 108, 214, 0.15);
  border: none;
  border-radius: 1rem;
  height: 2rem;
  padding: 10px;
}
.btn-icon{
  @include btnColor( 3rem);
 background-color: $blue-color;
 text-align: center;
 border: none;
}
.btn-search{
 margin-right: 0rem;
 position: absolute;
}
.img-search{
  padding: 5px;
}

//Allpokemon
.all-pokemon {
  background: linear-gradient(90deg, rgba(242,244,255,1) 0%, rgba(251,252,255,1) 100%);
  padding: 2rem;
  overflow: scroll;
  height: 100vh;
  overflow-x: hidden;
}
.row-all-pokemons{
  overflow: auto;
    // height: 100vh;
}

//cards pokemons
.container-card-pokemon{
  padding: 1rem 0;
}

.card-all-pokemon{
  // border: 1px solid;
  @include flexDirection(column);
    border-radius: 1rem;
    padding: 1rem;
    // min-width: 250px;
    box-shadow: 3px 10px 20px rgba(86, 108, 214, 0.15);
    color: $text-color;
    
}

.card-each-pokemon{
    border-radius: 1rem;
    padding: 3rem;
    // min-width: 250px;
    box-shadow: 3px 10px 20px rgba(86, 108, 214, 0.15);
    color: $text-color;
}

.title-card-pokemon{
  color: $text-color;
  font-weight: 600;
}

.number-card-pokemon{
  color: $text-color;
  font-size: 1.2rem;
}

.img-pokemon{
  height: 150px;
  width: auto;
}

.container-type{
  @include flexGeral();
  margin: 2rem 0 1rem;
}

.container-type-each-pokemon{
  @include flexJusttify(flex-start);
  margin: 2rem 0;
}

.border-bottom{
  border-bottom: 1px solid lightgray
}

.type-pokemon{
  @include btnColor(4rem);
  // background-color: $green-color;
  padding: 3px;
  font-size: 1rem;
  text-transform: capitalize
}

.disable{
  background-color: rgba(242,244,255,.5);
}

.grass {
  background-color: $green-color;
}

.normal{
  background-color:$pink-color ;
}

.poison{
  background-color:$purple-color ;
}
.fire{
  background-color: $orange-color;
}
.water{
  background-color: $blue-color;
}
.bug {
  background-color:$bug-color;
}
.flying{
  background-color: $lightblue-color;
}
.psychic{
  background-color: $red-color;
}
.electric{
  background-color: $yellow-color;
}
.fighting{
  background-color: $brown-color;
}
.ground{
background-color:  $ground-color;
}
.fairy{
background: linear-gradient( 114.2deg,  rgba(121,194,243,1) 22.6%, rgba(255,180,239,1) 67.7% );;
}
.rock{
background-color: $gray-color;
}
.steel{
  background-color: $steel-color;
}
.ice{
background-color: black;
}
.ghost{
background-color: rgba(black, 0.75);
}
.dragon{
  background-color: $dragon-color;
}
.dark{
  background-color: $dark-color;
}
.capitalize-text{
  text-transform: capitalize
}